/*.container-fluid {
  background-color:#4188D9;

}

.container-fluid :hover {
  background-color:#19569C;
}*/
h1 {
  text-align:center;
}

.index-post {
  border: solid;
  margin: 5px auto;
}

dt {
  display: inline;
  text-align:center;
}

img {
  width: 33%

}
